// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import "typography/typography";


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #39393a;

$mainColor: #f6f6f7;
$headingColor: #fff;

$mainFontSize: 32px;
$mainFont: EONBrixSans, Helvetica, sans-serif;
$headingFont: EONBrixSans, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 900;
$linkColor: #E3E000;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.6em;
$heading2Size: 2.2em;
$heading3Size: 1.6em;
$heading4Size: 1.0em;

section.has-light-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #39393a;
  }
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal {
  b {
    font-weight: 900;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      text-align: right;
      margin-bottom: 2rem;

      &.left {
        text-align: left;
      }
    }
    //headlines
  }
  //loop
  p {
    text-align: left;
    font-size: .7em;
    &.right {
      text-align: right;
    }
  }

}// Reveal

.logo {
  display: flex;
  justify-content: flex-end;
  opacity: .75;
}

p.abstract {
  text-align: right;
  font-size: .9em;

  &.left {
    text-align: left;
  }

  &.right.new::after {
    content: "New";
    font-weight: 900;
    position: absolute;
    right: -2.4em;
  }

}

.reveal {
  blockquote {
    font-size: 1.75em;
    font-style: normal;
    text-align: left;
    width: 100%;
    font-weight: 700;
    background-color: transparent;
    box-shadow: none;

    p {
      line-height: 140%;
      margin-bottom: .125em;
    }

    footer {
      color: rgba(255, 255, 255, 0.7);
      font-size: .5em;
      font-weight: 400;
      text-align: right;
    }
  }
  .text-block {
    width: 20em;
    float: right;
  }
}//reveal

// People introduction

.introduction {
  display: flex;
  margin: 3em 0;

  .info {
    margin-top: .5em;
  }

  .person {
    flex: 1;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-right: 1em;

    p.name {
      font-size: .9em;
      font-weight: 700;
      margin: 0 0 .25em;

    }

    p.job-title {
      font-weight: 400;
      font-size: .5em;
      margin: 0;
      color: #E3E000;
    }

    .avatar {
      border-radius: 100%;
      width: 96px;
      height: 96px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
        padding: 0;
      }
    }

    //avatar
    .topics {
      font-size: .5em;
      line-height: 1.4;
      color: rgba(255, 255, 255, .7);

      ul {
        list-style-type: square;
        padding-inline-start: 1em;
        margin-top: 1em;

        li {
          padding-bottom: .5em;
        }
      }
    }

  }

}

.svg-container {
  position: relative;
  svg {
    width: 100%;
    height: 100%;
  }
}

p.emoji {
  font-size: 3em;
}