mixin section(bgColor="")
    section(data-background-color=bgColor)
        .layers
            .layer1
            .layer2
        .content
            block

mixin sectionStack(bgColor="")
    section(data-background-color=bgColor)
        block
mixin note
    aside(class="notes")
        block