-
    var imgs = [
        {
            "url": "img/pages/deDE.png",
            "filter": "desktop",
            "region": "de"
        }, {
            "url": "img/pages/deDE_tablet.png",
            "filter": "tablet",
            "region": "de"
        }, {
            "url": "img/pages/deDE_mobile.png",
            "filter": "mobile",
            "region": "de"
        },
        {
            "url": "img/pages/eonCom.png",
            "filter": "desktop",
            "region": "international"
        }, {
            "url": "img/pages/eonCom_tablet.png",
            "filter": "tablet",
            "region": "international"
        }, {
            "url": "img/pages/eonCom_mobile.png",
            "filter": "mobile",
            "region": "international"
        },
        {
            "url": "img/pages/eonHU.png",
            "filter": "desktop",
            "region": "HU"
        }, {
            "url": "img/pages/eonHU_tablet.png",
            "filter": "tablet",
            "region": "HU"
        }, {
            "url": "img/pages/eonHU_mobile.png",
            "filter": "mobile",
            "region": "HU"
        }, {
            "url": "img/pages/eonCZ.png",
            "filter": "desktop",
            "region": "CZ"
        },{
            "url": "img/pages/eonCZ_tablet.png",
            "filter": "tablet",
            "region": "CZ"
        }, {
            "url": "img/pages/eonCZ_mobile.png",
            "filter": "mobile",
            "region": "CZ"
        },
        {
            "url": "img/pages/eonIT.png",
            "filter": "desktop",
            "region":"it"
        },
         {
            "url": "img/pages/eonIT_tablet.png",
            "filter": "tablet",
             "region":"it"
        }, {
            "url": "img/pages/eonIT_mobile.png",
            "filter": "mobile",
            "region":"it"
        },
        {
            "url": "img/pages/eonPL.png",
            "filter": "desktop",
            "region": "PL"
        }, {
            "url": "img/pages/eonPL_tablet.png",
            "filter": "tablet",
            "region": "PL"
        }, {
            "url": "img/pages/eonPL_mobile.png",
            "filter": "mobile",
            "region": "PL"
        },
        {
            "url": "img/pages/eonRO.png",
            "filter": "desktop",
            "region": "RO"
        }, {
            "url": "img/pages/eonRO_tablet.png",
            "filter": "tablet",
            "region": "RO"
        }, {
            "url": "img/pages/eonRO_mobile.png",
            "filter": "mobile",
            "region": "RO"
        },
        {
            "url": "img/pages/eonSE.png",
            "filter": "desktop",
            "region": "SE"
        }, {
            "url": "img/pages/eonSE_tablet.png",
            "filter": "tablet",
            "region": "SE"
        }, {
            "url": "img/pages/eonSE_mobile.png",
            "filter": "mobile",
            "region": "SE"
        },
        {
            "url": "img/pages/eonUK.png",
            "filter": "desktop",
            "region": "UK"
        }, {
            "url": "img/pages/eonUK_tablet.png",
            "filter": "tablet",
            "region": "UK"
        }, {
            "url": "img/pages/eonUK_mobile.png",
            "filter": "mobile",
            "region": "UK"
        }
    ]