-
    var colors = {
        "red":{
            "primary":"#EA1B0A",
            "active":"#D51607",
            "75": "#F05548",
            "50": "#F48D84",
            "25": "#FAC6C2"

        },
        "bordeaux":{
            "primary":"#B00402",
            "active":"#A00311",
            "dark":"#76020C",
            "75": "#C44341",
            "50": "#D78180",
            "25": "#EBC0C0"

        },
        "lime":{
            "primary":"#E3E000",
            "active":"#DAD600",
            "dark":"#CCCA00",
            "75":"#EAE840",
            "50":"#F1EF7F",
            "25":"#F8F7BF"
        },
        "grey":{
            "dark":"#39393a",
            "darkActive":"#646363",
            "middle":"#8F9192",
            "middleActive":"#727475",
            "light":"#e8e8e8",
            "ultralight":"f6f6f7"
        }
    }

-
    var gradients =
            {
                "limeLTR": "linear-gradient(to right," + colors.lime.dark + "," + colors.lime.dark + " 8.8294%, " + colors.lime.active + " 8.8294%, #DAD600 38.1966%, #E3E000 38.1966%) #E3E000",
                "limeRTL": "linear-gradient(to left, #CCCA00, #CCCA00 8.8294%, #DAD600 8.8294%, #DAD600 38.1966%, #E3E000 38.1966%) #E3E000",
                "redLTR": "linear-gradient(to right, #D51607, #D51607 5.5728%, #EA1B0A 5.5728%, #EA1B0A 38.1966%, #39393a 38.1966%) #39393a",
                "mainTitle": "linear-gradient(to right, #B00402, #B00402 5.873%, #D51607 5.873%, #D51607 23.5317%, #EA1B0A 23.5317%)",
                "mainTitleReversed": "linear-gradient(to left, #B00402, #B00402 8.8294%, #D51607 8.8294%, #D51607 38.196%, #EA1B0A 38.196%)",
                "darkgreyLTR": "linear-gradient(to right, #1EA2B1, #1EA2B1 5.5728%, #404040 5.5728%, #404040 23.606%, #39393a 23.606%) #39393a"
            }

