include _includes/_head
include _includes/_footerScripts
include _includes/_parts
include _includes/_variables
include _includes/_regions_landing_pages
include _svg/_atomicSVG
include _includes/_5_atomic_steps
include _includes/_people
+head("Application Development Guild")
    .reveal
        .slides
            section(data-background="linear-gradient(to right, #B00402, #B00402 5.873%, #D51607 5.873%, #D51607 23.5317%, #EA1B0A 23.5317%), #EA1B0A")
                .content
                    h1 Application<br/>Development Guild
                    p.eon-abstract.right March 5th 2021
            section
                    h4.left Agenda

                    .agenda-container
                        .agenda-day
                            ul.agenda
                                li.fragment #[span(class="time time-start") 9:05] #[span(class="time time-dash") –] #[span(class="time time-end") 9:20] #[span(class="topic") Hiccup story: How I've stopped the production of Porsche]#[span(class="presenter") Tobias Brenner]
                                li.fragment #[span(class="time time-start") 9:25] #[span(class="time time-dash") –] #[span(class="time time-end") 9:45] #[span(class="topic") Hiccup story: A story about performance and backend jobs]#[span(class="presenter") Lena Brüder]
                                li.fragment #[span(class="time time-start") 9:45] #[span(class="time time-dash") –] #[span(class="time time-end") 10:15] #[span(class="topic") Complexity — Developer Perspective]#[span(class="presenter") Yevgen Pikus]
                                li.fragment #[span(class="time time-start") 10:15] #[span(class="time time-dash") –] #[span(class="time time-end") 11:15] #[span(class="topic") Remote working teams – cancelled]#[span(class="presenter") Patrick Lehmhecker]
                                li.fragment #[span(class="time time-start") 10:15] #[span(class="time time-dash") –] #[span(class="time time-end") 10:45] #[span(class="topic") 10 things I don't want to see in your Java/Spring code!]#[span(class="presenter") Christian Schmidt]
            section
                section(data-background=gradients.limeRTL)
                    h3.left Call for Topics
                    p.eon-abstract.left
                        span.fragment &rarr; bit.ly/Guild-Trello
                section
                    .video-wrapper
                        video(src="./img/vid/trello-board-explainer-w-audio.mp4" controls width="100%")
            section
                .agenda-container
                    .agenda-day
                        ul.agenda.big
                            li #[span(class="time time-start") 9:05] #[span(class="time time-dash") –] #[span(class="time time-end") 9:20] #[span(class="topic") Hiccup story:<br/>How I've stopped the production of Porsche]#[span(class="presenter") Tobias Brenner]
            section
                .agenda-container
                    .agenda-day
                        ul.agenda.big
                            li #[span(class="time time-start") 9:25] #[span(class="time time-dash") –] #[span(class="time time-end") 9:45] #[span(class="topic") Hiccup story:<br/>A story about performance and backend jobs]#[span(class="presenter") Lena Brüder]
            section
                .agenda-container
                    .agenda-day
                        ul.agenda.big
                            li #[span(class="time time-start") 9:45] #[span(class="time time-dash") –] #[span(class="time time-end") 10:15] #[span(class="topic") Complexity — Developer Perspective]#[span(class="presenter") Yevgen Pikus]
            section
                .agenda-container
                    .agenda-day
                        ul.agenda.big
                            li #[span(class="time time-start") 10:30] #[span(class="time time-dash") –] #[span(class="time time-end") 11:00] #[span(class="topic") 10 things I don't want to see in your<br/>Java/Spring code!]#[span(class="presenter") Christian Schmidt]
            section
                section
                    h3.left Topics you’d like to know more about
                    p.eon-abstract.left
                        span.fragment &rarr; bit.ly/Guild-Trello
                    p.abstract.left #[b(style="color: #E3E000") 1st Friday] of each month: Guild Day
                    p.abstract.left #[b(style="color: #E3E000") 2nd Friday] submit your topic
                    p.abstract.left #[b(style="color: #E3E000") 3rd Friday] vote on the topics #[span(class="fragment") – in the backlog]


    +scripts


