include _includes/_head
include _includes/_footerScripts
include _includes/_parts
include _includes/_variables
include _includes/_regions_landing_pages
include _svg/_atomicSVG
include _includes/_5_atomic_steps
include _includes/_people
+head
    .reveal
        .slides
            section(data-background="linear-gradient(to right, #B00402, #B00402 5.873%, #D51607 5.873%, #D51607 23.5317%, #EA1B0A 23.5317%)")
                .content
                    h1 Atomic Design @ E.ON&nbsp;UI
                    .logo
                        include _svg/den-invertiert.svg
            section(data-background=gradients.darkgreyLTR)
                h2.right.fragment.fade-out Welcome
                .people__container.big
                    +peopleBit("Michael Boss","UX Specialist / Frontend Developer","/img/kurtz-michael.jpg")


            section(data-background=gradients.darkgreyLTR )
                h1 Atomic Design Principles
                .text-block
                    p.abstract.left
                        | Atomic Design is a term popularised & invented by Brad Frost. It describes the process of breaking down User Interfaces to make Design Systems more easily maintainable.
            section(data-background=gradients.redLTR)
                .text-block
                    p.abstract.left
                        | Atomic design is a methodology composed of #[b(style="color: #E3E000;") five&nbsp;distinct&nbsp;stages] working together to create interface design systems in a more deliberate and hierarchical manner.
                        br
                        | #[b(style="color: #E3E000;") The five stages of atomic design are:]
            section
                section(data-auto-animate)
                    +fiveAtomicSteps("1",".3",".3",".3",".3")
                section(data-background-iframe="https://allthetags.com/" data-background-interactive)
                section
                    .
                        <p class="codepen" data-height="300" data-theme-id="39273" data-default-tab="html,result" data-user="Johannes-Krohn" data-slug-hash="qBZjvdo" data-editable="true" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="E.ON UI Button">
                        <span>See the Pen <a href="https://codepen.io/Johannes-Krohn/pen/qBZjvdo">
                        E.ON UI Button</a> by Johannes (<a href="https://codepen.io/Johannes-Krohn">@Johannes-Krohn</a>)
                        on <a href="https://codepen.io">CodePen</a>.</span>
                        </p>
                        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
                section
                    .
                        <p class="codepen" data-height="300" data-theme-id="39273" data-default-tab="html,result" data-user="Johannes-Krohn" data-slug-hash="YzqxXVr" data-editable="true" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="E.ON UI Button plain html">
                        <span>See the Pen <a href="https://codepen.io/Johannes-Krohn/pen/YzqxXVr">E.ON UI Button plain html</a> by Johannes (<a href="https://codepen.io/Johannes-Krohn">@Johannes-Krohn</a>)
                        on <a href="https://codepen.io">CodePen</a>.</span>
                        </p>
                        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            section
                section(data-auto-animate)
                    +fiveAtomicSteps(".3","1",".3",".3",".3")
                section
                    .codepen-wrapper
                        .
                            <p class="codepen" data-height="500" data-theme-id="39273" data-default-tab="html,result" data-user="Johannes-Krohn" data-slug-hash="VwaWgqX" data-editable="true" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="E.ON UI Datepicker">
                            <span>See the Pen <a href="https://codepen.io/Johannes-Krohn/pen/VwaWgqX">
                            E.ON UI Datepicker</a> by Johannes (<a href="https://codepen.io/Johannes-Krohn">@Johannes-Krohn</a>)
                            on <a href="https://codepen.io">CodePen</a>.</span>
                            </p>
                            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            section
                section(data-auto-animate)
                    +fiveAtomicSteps(".3",".3","1",".3",".3")
                section
                    .
                        <p class="codepen" data-height="500" data-theme-id="39273" data-default-tab="result" data-user="Johannes-Krohn" data-slug-hash="RwagdrE" data-editable="true" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="E.ON UI Carousel">
                        <span>See the Pen <a href="https://codepen.io/Johannes-Krohn/pen/RwagdrE">
                        E.ON UI Carousel</a> by Johannes (<a href="https://codepen.io/Johannes-Krohn">@Johannes-Krohn</a>)
                        on <a href="https://codepen.io">CodePen</a>.</span>
                        </p>
                        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            section(data-auto-animate)
                    +fiveAtomicSteps(".3",".3",".3","1",".3")
            section(data-auto-animate)
                    +fiveAtomicSteps(".3",".3",".3",".3","1")
            section(data-auto-animate)
                    +fiveAtomicSteps("1","1","1","1","1")
            section(data-background=gradients.limeRTL )
                .offset-container
                    .offset-headline
                        h1 E.ON Design System
                    .text-block
                        p.copy.left "To set ourselves up for #[b long-term success,] we must fundamentally shift our outlook around what we’re actually creating. Rather than thinking of final applications as our sole responsibility, we must recognize that #[b the design system is what underpins our final products and pattern libraries."]
                        p.copy.right — Brad Frost
                        br
                        .svg-container
                            include _svg/strategy-02.svg

            section
                h1 The Design System evolution with web components

            section(data-background-color="#E3E000")
                .svg-container
                    include _svg/web-components-strategy.svg

    +scripts


