include _includes/_head
include _includes/_footerScripts
include _svg/_test
+head
    .reveal
        .slides
            section(data-background-color="#EA1B0A")
                .content
                    h1 E.ON Design System, E.ON&nbsp;UI & AEM&nbsp;Foundation 2020
                    .logo
                        +DENlogo
            section
                h3.left Presenters
                .introduction
                    .person.fragment
                        .avatar
                            img(src="/img/krohn-johannes.jpg")
                        .info
                            p.name Johannes Krohn
                            p.job-title UX / UI Designer
                    .person.fragment
                        .avatar
                            img(src="/img/kurtz-michael.jpg")
                        .info
                            p.name Michael Kurtz
                            p.job-title UX Specialist / Frontend Developer
                    .person.fragment
                        .avatar
                            img(src="/img/kutschker-janosch.png")
                        .info
                            p.name Janosch Kutschker
                            p.job-title Product Owner
            section
                blockquote
                    p
                        | The not-so-secret secret about creating effective design systems (or doing any great work, really):
                        br
                    p(class="fragment" style="brix-weight: 700; color:#E3E000;") It all comes down to people truly collaborating and communicating with one another.
                        br
                    footer.fragment – Brad Frost

            section
                section
                    h2.left Central UX Platform
                    p.abstract.left.fragment Our mission is to give all apps and webs one E.ON look & feel.
                    p.abstract.left.fragment Optimize rankings and conversion rates.
                    p.abstract.left.fragment Increase usage and simplify usability.
                section
                    h3 Our users are inside & outside E.ON
                section
                    p.abstract We host an image library with #[span(style="font-weight: 900; color:#E3E000;") 1810 Assets]
                    p.abstract.fragment We have #[span(style="font-weight: 900; color:#E3E000;") 871 Users]
                    p.abstract.fragment thereof #[span(style="font-weight: 900; color:#E3E000;") 272 Authors]
                    p.abstract.fragment in #[span(style="font-weight: 900; color:#E3E000;") 112 Projects] that are managed by us
                section
                    h3.left Our Guide
                    ul
                        li Digital Styleguide
                        li Digital Analytics
                        li Search Engine Optimisation
            section
                section(data-background-color="#1EA2B1")
                    h1 Parent slide
                    p.abstract Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.
                section slide 01
                section slide 01
                section slide 01
            section
                .graphic
                    +graphic01

    +scripts