include _includes/_head
include _includes/_footerScripts
include _includes/_parts
include _includes/_regions_landing_pages
include _includes/_moodboard
include _svg/_atomicSVG
include _includes/_5_atomic_steps


-
    var gradients =
            {
                "limeLTR": "linear-gradient(to right, #CCCA00, #CCCA00 8.8294%, #DAD600 8.8294%, #DAD600 38.1966%, #E3E000 38.1966%) #E3E000",
                "limeRTL": "linear-gradient(to left, #CCCA00, #CCCA00 8.8294%, #DAD600 8.8294%, #DAD600 38.1966%, #E3E000 38.1966%) #E3E000",
                "redLTR": "linear-gradient(to right, #D51607, #D51607 5.5728%, #EA1B0A 5.5728%, #EA1B0A 38.1966%, #39393a 38.1966%) #39393a",
                "darkgreyLTR": "linear-gradient(to right, #1EA2B1, #1EA2B1 5.5728%, #404040 5.5728%, #404040 23.606%, #39393a 23.606%) #39393a"
            }




+head
    .reveal
        .slides
            section(data-background="linear-gradient(to right, #B00402, #B00402 5.873%, #D51607 5.873%, #D51607 23.5317%, #EA1B0A 23.5317%)")
                .content
                    h1 °d lab to d lab_
                    .logo
                        include _svg/den-invertiert.svg
            section
                blockquote
                    p
                        | The not-so-secret secret about creating effective design systems (or doing any great work, really):
                        br
                    p(class="fragment" data-fragment-index="1" style="brix-weight: 700; color:#E3E000;") It all comes down to people truly collaborating and communicating with one another.
                        br
                    footer.fragment(data-fragment-index="1") — Brad Frost
                aside(class="notes")
                    | I think it is important to keep this in the back of our head, these guidelines build up on the excellent work that has been done and is in progress atm. We see ourselves as the curators for excellence inside the company.

            +section
                h3.left Branding squad
                .introduction
                    .person.fragment(data-fragment-index="1")
                        .avatar
                            img(src="/img/castritius-holger.jpg")
                        .info
                            p.name Holger Castritius
                            p.job-title Head of UX
                    .person.fragment(data-fragment-index="2")
                        .avatar
                            img(src="/img/krohn-johannes.jpg")
                        .info
                            p.name Johannes Krohn
                            p.job-title UX / UI Designer
                    .person.fragment(data-fragment-index="3")
                        .avatar
                            img(src="/img/rock-kerstin.jpg")
                        .info
                            p.name Kerstin Rock
                            p.job-title UX / UI Designer
                    .person.fragment(data-fragment-index="4")
                        .avatar
                            img(src="/img/modurano-dan.jpg")
                        .info
                            p.name Dan Modurano
                            p.job-title UX / UI Designer


            section(data-background=gradients.limeRTL)
                h2.left Ideation
                br
                .fragment
                    p.abstract.left Brainstorming
                    p.abstract.left Clustering
                    p.abstract.left Review
                    p.abstract.left Repeat

            section
                .isotope-content
                    .isotope-filters
                        .button-group(data-filter-group="region")
                            button.button(data-filter=".moods") Moodboards
                            button.button(data-filter=".illu") Illustrations
                            button.button(data-filter=".painting") Paintings
                            button.button(data-filter=".fractal") Fractals
                            button.button(data-filter=".iteration1") Iteration 1
                            button.button(data-filter=".iteration2") Iteration 2
                            button.button(data-filter=".ppt") Powerpoints
                            button.button(data-filter="*") all
                    .grid-wrapper
                        .image-grid.grid
                            for img in moods
                                .img-container.grid-item(class=img.tag)
                                    img(src=img.url)
            section
                section(data-background="linear-gradient(to right, #B00402, #B00402 8.8294%, #D51607 8.8294%, #D51607 23.5317%, #EA1B0A 23.5317%)")
                    h3.left brand hierarchy
                    .svg-container
                        include _svg/logo-complications.svg
                section
                    .fifty-layout
                        .fifty-container
                            h3.left typographic logo
                            br
                            p.abstract.left.fragment(data-fragment-index="1") we went for a typo only solution to avoid the clutter of too many signets.
                            p.abstract.left.fragment(data-fragment-index="3") this also makes it possible to just type our logo in plain text.

                        .fifty-container
                            h1.left.fragment.lime(data-fragment-index="2") d lab_





+scripts


