include _includes/_head
include _includes/_footerScripts
include _includes/_variables
include _includes/_people

+head("E.ON UX Platform")
    .reveal
        .slides
            // Each section is a slide
            section
                section
                    .offset-container
                        .offset-headline
                            h4 E.ON UX Platform
                            p.abstract #[a(href="https://bit.ly/ux-platform" style="color: #E3E000") bit.ly/ux-platform]

                        .text-block
                            ul
                                li Guidelines – Different UX related Topics
                                li Libraries – On Brand Assets
                                li Project Space – Collaborate, Communicate
                                li.fragment You can get access by writing an email to #[b(style="color: #E3E000") frontify@eon.com]
                    aside(class="notes")
                        ul
                            li It is hosted on a System called Frontify and this is sometimes the UX Platform called from time to time as well
                            li You can get access by writing an email to frontify@eon.com
                            li you will find guidelines on different topics

                section
                    .offset-container
                        .offset-headline
                            h3 Frontify
                            p.abstract bit.ly/ux-platform
                        .text-block
                            p.abstract.left What can it do?
                            p.copy It is a mixture of confluence, jira and zeplin. It cannot not replace jira or confluence but works well alongside both.
                    aside(class="notes")
                        ul
                            li You can use it for documentation
                            li You can share files
                            li You can collaborate, get stakeholder feedback and sign offs

            section
                .offset-container
                    .offset-headline
                        h4 Guidelines
                        p.abstract bit.ly/ux-platform
                    .text-block
                        ul
                            li Digital Styleguide
                            li Digital Analytics
                            li SEO Guidelines
                            li How to get valuable User Feedback
                            li Advertising Guidelines
                            li Tone of Voice Guidelines
                aside(class="notes")
                    ul
                        li I am responsible for maintaining the digital Styleguide
                        li Mo and Sascha will be talking about Analytics and SEO in a Minute
                        li You can get access by writing an email to frontify@eon.com

            section
                section
                    .offset-container
                        .offset-headline
                            h4 Digital Styleguide
                            p.abstract bit.ly/digital-styleguide
                        .text-block
                            ul
                                li Brand Design Assets
                                li Best Practises
                                li In close collaboration with the E.ON UI Team
                                li Patterns from Atoms to Organisms
                                li TO DO: Templates
                section
                    .
                        <p class="codepen" data-height="300" data-theme-id="39273" data-default-tab="html,result" data-user="Johannes-Krohn" data-slug-hash="YzqxXVr" data-editable="true" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="E.ON UI Button plain html">
                        <span>See the Pen <a href="https://codepen.io/Johannes-Krohn/pen/YzqxXVr">E.ON UI Button plain html</a> by Johannes (<a href="https://codepen.io/Johannes-Krohn">@Johannes-Krohn</a>)on <a href="https://codepen.io">CodePen</a>.</span>
                        </p><script async src="https://static.codepen.io/assets/embed/ei.js"></script>

            section
                .offset-container
                    .offset-headline
                        h4 Libraries
                        p.abstract bit.ly/ux-platform
                    .text-block
                        ul
                            li Media Library
                            li Icon Library&sup1;
                            li Pictogram Library&sup1;
                        p.copy &sup1; These are available as E.ON UI Web components and you can use this to find the correct names

            section
                section
                    .offset-container
                        .offset-headline
                            h3 Project space
                        .text-block
                            p.copy One of the things that Frontify provides that for example zeplin and figma are missing is a project space where you can also host files. That is convenient for handover and a detailed briefing.
                            ul
                                li #[a(href="https://eon.frontify.com/projects/71/future-energy-home/1354" target="_blank") Journey Maps]
                                li #[a(href="https://eon.frontify.com/projects/220/espresso-1587630932/2221" target="_blank") Development ready assets]
                                li #[a(href="https://eon.frontify.com/projects/220/espresso-1587630932/1559" target="_blank") Additional or detailed guidances]
                                li #[a(href="https://eon.frontify.com/screens/23440" target="_blank") Secondary Studies]
                                li #[a(href="https://eon.frontify.com/screens/21723/annotation/2199" target="_blank") Deep links to comments]
                section
                    .offset-container
                        .offset-headline
                            h3 Project views
                        .text-block
                            p.copy Each project has a customisable workflow view that follows the kanban board princibles with multiple swim lanes.
                            ul
                                li #[a(href="https://eon.frontify.com/screens/23222/inspect" target="_blank") Inspect Mode]
                                li #[a(href="https://eon.frontify.com/workflows/220/espresso-1587630932" target="_blank") Workflow View]
                                li #[a(href="https://eon.frontify.com/briefings/220/espresso-1587630932" target="_blank") Project Information view]
                                li #[a(href="https://eon.frontify.com/activity/220/espresso-1587630932" target="_blank") Activity view]
    +scripts